body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    overflow-x: hidden
}

@font-face {
    font-family: DIN-Condensed;
    src: url('DINCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: DIN-Condensed;
    src: url('DINCond-Light\ Regular.otf') format('opentype');
    font-weight: 400;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    gap: 4px
}

.gallery-item {
    margin: 0;
    position: relative;
    height: 94vh;
    object-fit:fill;
    width: calc(100vw / 4 - 14px);
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.4s ease;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit:fill;
    transition: opacity 0.3s ease, filter 0.3s ease;
}

@property --myColor1 {
    syntax: '<color>';
    initial-value: rgba(0, 0, 0, 1);
    inherits: false;
}
@property --myColor2 {
    syntax: '<color>';
    initial-value: rgba(0, 0, 0, 0.4);
    inherits: false;
}
@property --myColor3 {
    syntax: '<color>';
    initial-value: rgba(0, 0, 0, 0);
    inherits: false;
}

.gallery-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: linear-gradient(0deg, var(--myColor1) 0%, var(--myColor2) 50%, var(--myColor3) 100%);
    height: 100%;
    box-sizing: border-box;
    opacity: 1;
    transition: --myColor3 0.50s ease;
    pointer-events: none; /* Prevents overlay from being clicked */
}

.gallery-item:hover img {
    opacity: 0.7;
    filter: blur(3px); /* Adding blur effect on hover */
}

.gallery-item:hover .overlay {
    opacity: 1;
    --myColor3: rgba(0, 0, 0, 0.6);
}

.gallery-item .overlay h3, .gallery-item .overlay p {
    margin: 0;
}

.overlay p {
    font-size: 0.8em;
    opacity: 0.8;
}

.overlay .more-info {
    display: none;
    margin-top: 10px;
}

.gallery-item:hover .overlay .more-info {
    display: block;
}

.overlay .more-info a {
    color: #00f;
    text-decoration: none;
}

.overlay .more-info a:hover {
    text-decoration: underline;
}
.text-link {
    font-family: DIN-Condensed;
    font-size: 18px;
    text-decoration: none;
    color: aqua;
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 2;
    display: block;
    text-transform: none;
    transition: all 0.4s ease;
}

.gallery-item:hover .text {
    bottom: 40px;
}
.gallery-item:hover .text-link {
    opacity: 1;
}

.overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.text {
    position: absolute;
    width: 80%;
    bottom: 10px;
    z-index: 2;
    left: 20px;
    font-family: DIN-Condensed;
    text-transform: uppercase;
    font-size: 38px;
    transition: all 0.5s ease;
}

.text * {
    margin: 0;
}

.text p {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
}